<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Blog", suffix: " · PatternMatching" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="">
    <header class="text-white bg-violet-900 shadow-sm md:sticky md:top-0">
      <section class="container px-4 mx-auto">
        <nav class="flex items-center justify-between">
          <div>
            <ul>
              <li class="py-4 text-2xl font-extrabold"><%= link "Pattern Matching", to: Routes.page_path(@conn, :index)%></li>
            </ul>
          </div>
          <div>
            <ul class="flex">
              <li><%= link "Writing", to: Routes.page_path(@conn, :index)%></li>
            </ul>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
