<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= if assigns[:meta_attrs], do: meta_tags(@meta_attrs) %>
    <%= live_title_tag assigns[:page_title] || "PatternMatching", suffix: " · PatternMatching" %>
    <link rel="alternate" type="application/rss+xml" href={Routes.rss_url(@conn, :index)} />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="text-white shadow-sm bg-violet-900 md:sticky md:top-0">
      <section class="container px-4 mx-auto xl:px-0">
        <nav class="flex items-center md:justify-between">
          <ul class="">
            <li class="py-4 font-mono text-xl font-bold"><%= link "PatternMatching.io", to: Routes.page_path(@conn, :index) %></li>
          </ul>
          <div class="invisible md:visible">
            <ul class="flex">
              <li><%= link "Writing", to: Routes.page_path(@conn, :index)%></li>
            </ul>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
    <footer class="text-white bg-violet-900">
      <section class="container px-4 py-6 mx-auto text-center xl:px-0">
        <ul class="flex items-center justify-between">
          <li>© 2002 PatternMatching.io</li>
          <li>
            <%= link to: Routes.rss_url(@conn, :index) do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
            <% end %>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>
