<article class="lg:mt-6">
  <h1 class="text-3xl lg:text-4xl font-extrabold"><%= @post.title %></h1>

  <div class="prose prose-zinc prose-sm md:prose-lg font-serif mx-auto mt-4 lg:mt-8 pb-12">
    <%= raw @post.body %>
  </div>
</article>
